<!DOCTYPE html>
<html>
  <head>
    <title>WebpackAndRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= webpack_bundle_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
